#-------------------------------------------------------------------
# A snippet for snippets
#-------------------------------------------------------------------

snippet sni
# snippet $1
# $2
# endsnippet
# $0
endsnippet
