//-------------------------------------------------------------------
// Author(s)     : {{NAME}}
// File          : {{FILE}}.go
// Created       : {{TODAY}} {{TIME}}
// Description   : {{CURSOR}}
//-------------------------------------------------------------------

package main

import "fmt"


func main() {
    // fmt.Println("============================================================\n")
    }

<++>
