---
title: {{FILE}}
author: {{NAME}}
created: {{YEAR}}-{{MONTH}}-{{DATE}} ({{MONTH_SHORT}}, {{DAY}}) {{TIME}}
---

[purpose-statement-index](../purpose-statements/purpose-statement-index)
[project-gutenberg-index](../project-gutenberg/project-gutenberg-index)
[leisure-reading-index](../leisure-reading/leisure-reading-index)
[Life of Nobel Laureates purpose-statement-22-12-21](../purpose-statements/life-of-nobel-laureates-purpose-statement-22-12-21)
[main index](../index)    [diary-index](../diary/diary)

1. {{CURSOR}}
