"""
#!/usr/bin/python3
Author      : {{NAME}}
File        : {{FILE}}.py
Created     : {{YEAR}}-{{MONTH}}-{{DATE}} ({{MONTH_SHORT}}, {{DAY}}) {{TIME}}
Description : <++> # {{{
<++>

# }}}
"""

{{CURSOR}}
