#!/bin/bash{{CURSOR}}

####################################################################
# @author(s)   : {{NAME}} ({{EMAIL}})
# @file        : {{FILE}}.sh
# @created     : {{TODAY}} {{TIME}}
# @description : <++>
####################################################################

<++>
