#!/bin/bash

######################################################################
# @author      : {{NAME}}
# @file        : {{FILE}}
# @created     : {{TODAY}} ({{MONTH_SHORT}}, {{DAY}}) {{TIME}}
# @description : {{CURSOR}}
######################################################################

<++>
