#!/bin/bash

####################################################################
# @author      : {{NAME}}
# @file        : {{FILE}}{{CURSOR}}
# @created     : {{TODAY}} ({{MONTH_SHORT}}, {{DAY}}) {{TIME}}
# @description : <++>
####################################################################

set -o nounset
set -o pipefail

<++>
