
%-------------------------------------------------------------------
% Author        : {{NAME}}
% Created       : {{TODAY}}
% Description   : {{CURSOR}}
%-------------------------------------------------------------------

\documentclass[11pt]{article}%{{{

% Usepackages%{{{
%-------------------------------------------------------------------

\usepackage{amsmath}
\usepackage{amsthm}
\usepackage{amssymb}
\usepackage{amsfonts}
\usepackage{afterpage}
\usepackage{bbding}
\usepackage{bm}
\usepackage{caption}
\usepackage{contour}%for writing sc bf
\usepackage[dvipsnames]{xcolor}
\usepackage{esvect}
\usepackage{enumerate}
\usepackage{enumitem}
\usepackage{float}
\usepackage{graphicx}
\usepackage{lscape}
%\usepackage[linktoc=all]{hyperref}
\usepackage{mathrsfs}
\usepackage{mathtools}
\usepackage[normalem]{ulem}%for writing a underlined text
\usepackage{physics}
\usepackage{relsize}
\usepackage{slantsc}
%\usepackage{titlesec}
\usepackage[top=3cm, bottom=2.5cm, left=2.5cm, right=2.5cm]{geometry}
\usepackage{thmtools}
\usepackage{tfrupee}
%\usepackage{titling}
\usepackage{tikz}
\usepackage{xcolor}

\graphicspath{{Images/}}

%}}}
% Environments%{{{
%-------------------------------------------------------------------

\newtheorem{theorem}{Theorem}[section]
\newtheorem{lemma}[theorem]{Lemma}
\newtheorem{proposition}[theorem]{Proposition}
\newtheorem{corollary}[theorem]{Corollary}

\theoremstyle{definition}
\newtheorem{definition}[theorem]{Definition}
\newtheorem{example}{Example}[section]
\newtheorem{exercise}{Exercise}[section]

\theoremstyle{remark}
\newtheorem{remark}[theorem]{Remark}

%-------------------------------------------------------------------
% Unnumbered Environments
%-------------------------------------------------------------------

\theoremstyle{theorem}
\newtheorem*{utheorem}{Theorem}
\newtheorem*{ulemma}{Lemma}
\newtheorem*{uproposition}{Proposition}
\newtheorem*{ucorollary}{Corollary}

\theoremstyle{remark}
\newtheorem*{uremark}{Remark}

%}}}
% Newcommands%{{{
%-------------------------------------------------------------------

\newcommand{\mychi}{\raisebox{2pt}{$\chi$}}

%-------------------------------------------------------------------
% Numbering of equations
%-------------------------------------------------------------------

% \numberwithin{equation}{section}

%-------------------------------------------------------------------
% QED symbol
%-------------------------------------------------------------------

\renewcommand{\qedsymbol}{$\blacksquare$}

%}}}

%}}}

\begin{document}

\title{\bfseries <++>}

\author{{{NAME}}<++>}

\date{<++>}

\maketitle

% Abstract
\begin{abstract}%{{{
    <++>
\end{abstract}%}}}

<++>


\end{document}

%-------------------------------------------------------------------
% Comments on the document
%-------------------------------------------------------------------

