
"-------------------------------------------------------------------
" Author(s)     : {{NAME}}
" Created       : {{TODAY}} {{TIME}}
" License       : {{LICENSE}}
" Description   : {{CURSOR}}
"-------------------------------------------------------------------

<++>
