" -------------------------------------------------------------------
" Author        : {{NAME}}
" Created       : {{TODAY}} ({{MONTH_SHORT}}, {{DAY}}) {{TIME}}
" License       : {{LICENSE}}
" Description   : {{CURSOR}}
" -------------------------------------------------------------------
